version: '3.8'

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: recommender
      POSTGRES_USER: recommender
      POSTGRES_PASSWORD: recommender
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  web:
    build:
      context: .
    env_file:
      - ./.env
    command: gunicorn cfehome.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=cfehome.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=django-db
      - DATABASE_URL=postgres://recommender:recommender@db:5432/recommender

  worker:
    build:
      context: .
    command: celery -A cfehome worker -l info
    volumes:
      - ./src:/app
    depends_on:
      - db
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=cfehome.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=django-db
      - DATABASE_URL=postgres://recommender:recommender@db:5432/recommender

volumes:
  postgres_data:
  redis_data: